@charset "UTF-8";

body {
    margin: 0;
}

p {
    background-color: aliceblue;
    margin: 16px  0 0;
    width: 400px;
    height: 80px;
    border: 8px solid blueviolet;
    padding: 8px;
    box-sizing: border-box;

}
